$TTL    604800
@       IN      SOA     ns1.sabang.net. admin.sabang.net. (
                              3         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL

@       IN      NS      ns1.sabang.net.

1       IN      PTR     sabang.net.
